$blue: #318DE9;
$blue_line: #C0DCF8;
$white: #ffffff;
$black: #000000;
$pink: #FFC0CB;
$gray: #999999;
$red: #FE6363;
$border: #8c8b8b;
$light_gray: #f5f5f5;
$dark_gray: #ced4da;
$light_green_border: #A6D4C7;
$dark_green: #29856B;
$silver_gray: #C0C0C0;
$dark_green1: #257760;
$dark_black: #555;
$light_black: #999;
$light_green: hsl(163, 100%, 89%);
$fade_green: #F6FBF9;
$border-line: #F1F1F1;
$border_bottom: #e1e1e1;

