@import './Mixins/inventory.scss';

.container {
    
    .wrapper-organization {
        width: 100%;
        // margin: 1% 0 0 2%;
        height: auto;
        background-color: $white;
        box-shadow: 0 0 6px rgba(0,0,0,0.15);

        .wrapper-input {

            .form-input {
                width: 100%;
                margin-bottom: 1%;
                padding: 15px;
                box-sizing: border-box;
                text-align: left;
                border: none;
                border-bottom: 1px solid $gray;
            
                &:focus {
                    border: none;
                    outline: none;
                    border-bottom: 1px solid $blue;
                }
            }

            .chart-view {
                position: absolute;
                top: 17px;
                right: 30px;
                color: $blue;
                cursor: pointer;
            }
        }

        .wrapper-office {

            .header-label {
                margin-left: 15px;
    
                p {
                    padding: 0px 10px 0 0px;
                    margin: 0 10px 0 0px;
                    text-align: left;
                    color: #29856B;
                    font-size: 18px;
                }
            }

            .row {
                width: 100%;

                input {
                    border:none;
                    border-bottom:1px solid #e1e1e1;
                    outline:none;
                    padding:14px 10px 10px 5px;
                    margin-left: 15px;
                    width: 30%;
                    border-bottom: 1px solid $light_green_border;
    
                    &:focus,
                    &:active {
                        border-bottom: 2px solid $dark_green;
                    }
                }
                .error {
                    margin-left: 15px;
                }

                .wrapper {
                    width: 32%;
                    position: relative;
                    padding: 0 30px 0 0;
    
                    .float-label {
                        position: absolute;
                        top: 15px;
                        left: 35px;
                        font-size: 12px;
                        z-index: 1;
                        color: $light_black;
                    }
    
                    @include input();
                    
                    .error {
                        margin: 0 0 0 12px;
                    }
        
                }

                .inline-div {
                    display: inline-block;
                    width: 33.33%;
                    position: relative;
                    padding: 0 30px 0 0;
            
                    @include floating-label(20px);
            
                    .Dropdown-root {
                        position: relative;
                        top: 17px;
                        width: 95%;
                        border-radius: 0;
                        margin: 0 0 12px 12px;
                        padding: 10px 0px 0px 0px;
                        display: inline-block;
            
                        .Dropdown-control {
                            border: none;
                            border-bottom: 1px solid $light_green_border;
                            border-radius: 0;
                            padding: 8px 52px 6px 10px;
            
                            .Dropdown-placeholder {
                                margin-left: -5px;
                                color: $light_black;
                            }
            
                            .is-selected {
                                color: $dark_black;
                            }
                        }
            
                        .Dropdown-menu {
                            border-top: 1px solid $dark_green;
                        }
                    }
            
                    .error {
                        margin: 10px 0 0 12px;
                    }
                 }

                // .inline-div {
                //     display: inline-block;
                //     width: 33%;


                //     .Dropdown-root {
                //         position: relative;
                //         top: 8px;
                //         width: 70%;
                //         border-radius: 0;
                //         margin-left: 15px;
                //         margin-bottom: 12px;
                //         padding: 0px 0px 0px 0px;
                //         display: inline-block;

                //         .Dropdown-control {
                //             border: none;
                //             border-bottom: 1px solid #e1e1e1;
                //             border-radius: 0;

                //             .Dropdown-placeholder {
                //                 margin-left: -5px;
                //             }
                //         }
                //     }
                // }
            }

            .city-div {
                width: 33%;
                margin-left: 5px;
                padding: 10px;

                .Dropdown-root  {
                    width: 85%;                        
                    .Dropdown-control {

                        .Dropdown-placeholder {
                            margin-left: -5px;
                        }
                    }
                }
                .error {
                    margin-left: 0;
                }
            }

            .row-subdepartment {
                width: 100%;

                .sub-department {
                    position: relative;
                    width: 100%;
    
                    input {
                        border:none;
                        border-bottom:1px solid #e1e1e1;
                        outline:none;
                        padding:14px 10px 10px 5px;
                        margin-left: 15px;
                        width: 30%;
        
                        &:focus,
                        &:active {
                            border-bottom: 2px solid $blue;
                        }
                    }

                    .input-label {
                        position: absolute;
                        right: 5px;
                        top: 0;

                        .delete {
                            cursor: pointer;
                        }
                    }
                }
            }

            .btn-group-footer {
                display: flex;
                justify-content: flex-end;
                margin: 10px 0 0 0;
                padding-bottom: 10px;
            }

            .header-subdepartment {
                margin: 15px 0 0 15px;  
            }

        }
    }

    .treeview {
        width: 100%;
        position: relative;

        .chartview {
            position: absolute;
            top: 4px;
            left: 20%;
            background-color: $white;
            box-shadow: 0 0 6px rgba(0,0,0,0.15);

            input {
                border:none;
                border-bottom: 1px solid $blue;
                outline:none;
                padding:14px 10px 10px 5px;
                margin-left: 15px;
                width: 98%;

                &:focus,
                &:active {
                    border-bottom: 2px solid $blue;
                }
            }

            .btn-listview {
                position: absolute;
                right: 35px;
                top: 12px;
                cursor: pointer;
                color: $blue;
            }

            .chart-tree {
                margin: 15px;
            }

        }

        .tree-node {
            background-color: #318DE9;
            border-radius: 3px;
            padding: 5px;
            width: 150px;
            display: inline-block;
        }

        .sidebar {
            width: 16%;
            margin: 1% 0 0 2%;
            height: 400px;
            background-color: $white;
            box-shadow: 0 0 6px rgba(0,0,0,0.15);

            p {
                padding: 10px;
                background-color: $blue;
            }

            ul {
                list-style: none;

                li {
                    padding: 10px;
                    background-color: $light_gray;
                }
            }
        }
    }
}