@import './colors.scss';

.container {
  .aside-wrapper {
    margin-right: 40px;
    float: right;
    a {
      margin-left: 30px;
    }
  }
  .label-content30 {
    display: inline-block;
    width: 30%;
    .form-label {
      display:block;
    }
  }
}
.containerStyle {
  padding: 0 0 0 0;
  .row {
    display: block;
    width: 100%;
    padding-left: 10px;

    .inline-div {
      display: inline-block;
      vertical-align: bottom;
      width: 25%;
      height: 50px;
      line-height: 50px;

     select { 
        width: 60%;
        background-color: transparent;
        outline: none !important;
        border: none;
        border-bottom: 1px solid $dark_green;
      }
    }
  }
  .odd-row {
    background-color: $fade_green;
  }
  .even-row {
    background-color: $light_green;
  }
}